<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	type="text/css" rel="stylesheet" media="screen" />
<link
	href="https://cdn.jsdelivr.net/bootstrap-social/5.1.1/bootstrap-social.css"
	type="text/css" rel="stylesheet" media="screen" />
<link
	href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css"
	type="text/css" rel="stylesheet" media="screen" />
	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.2/jquery.min.js"
	th:src="@{/webjars/jquery/2.2.2/jquery.min.js}" type="text/javascript"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link th:href="@{/css/custom.css}" type="text/css" rel="stylesheet"
	media="screen"></link>
</head>
<body>
	<div th:fragment="navbar" th:if="${@environment.getProperty('shiny.proxy.hide-navbar') != 'true'}" style="margin-bottom: 50px;">
		<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
           <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6" style="background:#12314D;height:50px">
                <div style="margin-top:10px;line-height:25px;">
                    <a href="/"><img src="../img/logo-light.png" class="img img-responsive" /></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="color:white;background-color:#143755;height:50px;">
              
                <div class="userArea pull-right" style="">
					<div class="dropdown">
      <a class="dropdown-toggle" id="ddAction" style="background-color:#143755;" data-toggle="dropdown" href="#">
       <img src="../img/default-user-avatar.jpg" height="30"
							class="img img-circle" alt="user image" />&nbsp;&nbsp;
							<span style="color:white;background-color:#143755;"
							th:text="${userName}"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span
							class="fa fa-sort-desc dropbtn"
							style="color: white; line-height: 21px; background-color: #143755;"
							aria-hidden="true"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="ddaction">
      <li role="presentation">
         <div sec:authorize="hasAuthority(#vars.adminGroups)">
									<a th:href="@{/admin}"><i class="fa fa-life-ring"
										aria-hidden="true"></i>&nbsp;&nbsp;Admin</a>
								</div>
								<hr />
      </li>
       <li role="presentation">
       <a href="mailto:support@proskriptive.com?subject=Support Request"><i class="fa fa-life-ring" aria-hidden="true"></i>&nbsp;&nbsp;Support</a>
											<hr />
      </li>
       <li role="presentation">
      <a href="/logout"><span class="fa fa-sign-out" aria-hidden="true"></span>&nbsp;&nbsp;LogOut</a>
											<hr />
      </li>
    </ul>

				</div>
                </div>
            </div>
        </div>
    </div>
		</nav>
	</div>
</body>
</html>