<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	type="text/css" rel="stylesheet" media="screen" />
<link
	href="https://cdn.jsdelivr.net/bootstrap-social/5.1.1/bootstrap-social.css"
	type="text/css" rel="stylesheet" media="screen" />
<link
	href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css"
	type="text/css" rel="stylesheet" media="screen" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.2/jquery.min.js"
	th:src="@{/webjars/jquery/2.2.2/jquery.min.js}" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script th:src="@{/js/store.js-master/dist/store.legacy.min.js}"></script>
<script th:src="@{/js/jquery-idleTimeout-iframes.min.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<link th:href="@{/css/custom.css}" type="text/css" rel="stylesheet"
	media="screen"></link>
<script type="text/javascript">
    //<![CDATA[
        
    	$(document).ready(function(){
    		$(document).idleTimeout({
    		      redirectUrl:  '/logout' 
    		    });
             $('#userDiv').click(function(){     
                    //  $('.dropdown-toggle', this).trigger('click'); 
                      document.getElementById("dropdownmenu").classList.toggle("show");
                    });

        $(document).click(function (e) {
            
            e.stopPropagation();
            var container = $("#userDiv");

            //check if the clicked area is dropDown or not

            if(!container["0"].id == e.target.id ){
                $("#dropdownmenu").attr('class', 'dropdown-content');
            }
            if(e.target.offsetParent.firstElementChild.className == "p-t-10 pull-right") {
                $("#dropdownmenu").attr('class', 'dropdown-content show');
            }
        });
    });

	
	 $(function () { 
         $body = $("body");
         $('#shinyframe').load(function () {
             $body.removeClass("loading");
         });

         $('#shinyframe').ready(function () {
         $body.addClass("loading");
         });
       
     });
	
	
    //]]>
    </script>


<style>
  .progress-icon {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url(../img/default.gif) 
                50% 50% 
                no-repeat;

}

body.loading {
    overflow: hidden;   
}

body.loading .progress-icon {
    display: block;
}
</style>

</head>

<body>
	<!-- navigation bar -->
	<div th:replace="../fragments/navbar :: navbar"></div>

	<!-- content -->
	<iframe id="shinyframe" th:src="${container}" width="100%"
		style="height: 100vh;"></iframe>
	<script type="text/javascript"> 
		function setShinyframeHeight() {
	        $('#shinyframe').css('height', ($(window).height()-50)+'px');
	    }
	    window.addEventListener("load", setShinyframeHeight);
	    window.addEventListener("resize",  setShinyframeHeight);
		
		function heartbeat() {
		    setTimeout(function() {
		        $.ajax("/heartbeat" + window.location.pathname).success(function(data) {
		        	heartbeat();
		        });
		    }, [[${heartbeatRate}]]);
		};
		heartbeat();			
	</script>


 <div class="progress-icon"></div>
</body>
</html>