<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.2/jquery.min.js"
	th:src="@{/webjars/jquery/2.2.2/jquery.min.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link th:href="@{/css/custom.css}" type="text/css" rel="stylesheet"
	media="screen"></link>


<script>
	//<![CDATA[
	$(function() {
		
		$('#userDiv').click(function() {
	
			document.getElementById("dropdownmenu").classList.toggle("show");
		});

		$(window).click(function(event) {

							if (!$(event.target.offsetParent.firstElementChild).hasClass('userArea pull-right')) {
								var dropdowns = document.getElementsByClassName("dropdown-content");
								var i;
								for (i = 0; i < dropdowns.length; i++) {
									var openDropdown = dropdowns[i];
									if (openDropdown.classList.contains('show')) {
										openDropdown.classList.remove('show');
									}
								}
							}
						});
	});
	//]]>
</script>
<script>
	$(function() {
		$('#tabI3').find('.tabItemDiv').removeClass('well').addClass(
				'well_tab-item');
		$('#tabP3').css('display', 'block');
		$('.tab-item > a')
				.click(
						function(e) {
							
							e.preventDefault();
							var tabItemId = $(this).attr('id');
							$('.tab-item > a')
									.each(
											function() {

												var id = $(this).attr('id');
												if ($(this).find('.tabItemDiv')
														.hasClass('well')) {
													if (id == tabItemId) {
														$(this)
																.find(
																		'.tabItemDiv')
																.removeClass(
																		'well')
																.addClass(
																		'well_tab-item');

														var s = tabItemId
																.substring(4);
														$('.tab-panel')
																.each(
																		function() {
																			var tabId = $(
																					this)
																					.attr(
																							'id');
																			if (tabId == 'tabP'
																					+ s) {
																				if ($(
																						this)
																						.css(
																								'display') == 'none') {

																					$(
																							this)
																							.css(
																									'display',
																									'block');
																				} else {
																					$(
																							this)
																							.css(
																									'display',
																									'none');
																				}
																			} else {
																				$(
																						this)
																						.css(
																								'display',
																								'none');
																			}
																		});

													}
												} else {
													if (id != tabItemId) {
														$(this)
																.find(
																		'.tabItemDiv')
																.removeClass(
																		'well_tab-item')
																.addClass(
																		'well');
													}
												}
											});

						});
	});
</script>
<style>
body {
	font-size: 15px;
}

.dropbtn:hover, .dropbtn:focus {
	
}

.dropdown-content {
	display: none;
	position: absolute;
	margin-top: 0px;
	background-color: #f9f9f9;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	right: 0;
	z-index: 1;
}

h3 {
	color: #4F4F4F;
}

.btn {
	border-radius: 2px;
	padding: 10px 30px;
	color: white;
}

h5 {
	margin-top: 30px;
}

h4 {
	color: black;
	margin-top: 20px;
	margin-bottom: 20px;
}

h3 {
	color: black;
	margin-top: 20px;
	margin-bottom: 20px;
}

p {
	color: #818181;
}

li {
	color: #818181;
}

.tab-panel ul li::before {
	content: "•";
	font-size: 170%; /* or whatever */
	padding-right: 5px;
	color: #01538F; /* or whatever color you prefer */
}

hr {
	margin: 0px;
	padding: 0px;
}

#Intro-to-apps {
	font-size: 37px;
	font-weight: 300;
	padding-top: 37px;
	padding-bottom: 20px;
}

@media only screen and (min-device-width: 768px) {
	.bg-img-text {
		margin-left: 10%;
		color: white;
		padding-bottom: 12%;
		padding-top: 6%;
	}
}

@media only screen and (min-device-width: 320px) and
	(max-device-width:767px) {
	.bg-img-text {
		margin-left: 5%;
		color: white;
		padding-bottom: 15%;
		padding-top: 5%;
	}
	.logoArea {
		margin-left: 0%;
		margin-top: 10px;
	}
	.userArea {
		margin-right: 0%;
		margin-top: 7px;
	}
}

@media only screen and (min-device-width: 100px) and
	(max-device-width:319px) {
	.bg-img-text {
		margin-left: 0%;
		color: white;
		padding-bottom: 15%;
		padding-top: 5%;
	}
	.logoArea {
		margin-left: 0%;
		margin-top: 10px;
	}
	.userArea {
		margin-right: 0%;
		margin-top: 7px;
	}
	.bg-img-text span {	
	}
}

.dropdown-menu li a{
padding-top:1em;
padding-bottom:1em;

}

</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row" style="margin-bottom: 0px; background-color: white;">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="logoArea" style="">
					<img src="../img/logo-dark.png" class="img img-responsive"
						height="30" />
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="userArea pull-right" style="">
					<div class="dropdown">
      <a class="dropdown-toggle" id="ddAction" style="background-color:white" data-toggle="dropdown" href="#">
       <img src="../img/default-user-avatar.jpg" height="30"
							class="img img-circle" alt="user image" />&nbsp;&nbsp;<span style="color:#7B8BB7;background-color:white;"
							th:text="${userName}"
							sec:authorize="hasAnyRole(#vars.adminGroups)"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span
							class="fa fa-sort-desc dropbtn"
							style="color: #95B6CE; line-height: 21px; background-color: white;"
							aria-hidden="true"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="ddaction">
      <li role="presentation">
         <div sec:authorize="hasAuthority(#vars.adminGroups)">
									<a th:href="@{/admin}"><i class="fa fa-life-ring"
										aria-hidden="true"></i>&nbsp;&nbsp;Admin</a>
								</div>
								<hr />
      </li>
       <li role="presentation">
       <a href="mailto:support@proskriptive.com?subject=Support Request"><i class="fa fa-life-ring" aria-hidden="true"></i>&nbsp;&nbsp;Support</a>
										
											<hr />
      </li>
       <li role="presentation">
       <a href="/logout"><span class="fa fa-sign-out" aria-hidden="true"></span>&nbsp;&nbsp;LogOut</a>
											<hr />
      </li>
    </ul>
  </div>
				</div>
			</div>
		</div>

		<div class="row">
		<div style="background-image: url(../img/bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 0px;
	color: white;">
	<div class="bg-img-text">
					<span style="font-size: 60px; letter-spacing: 1px; color: white;">Your
						Data Sync</span>
					<p
						style="margin-top: 10px; margin-bottom: 10px; letter-spacing: 1px; line-height: 200%;">
						What insights will you uncover today? <br />Click on your Apps
						below to find out:
					</p>


					<div th:each="app: ${apps}" class="userapps">
						<form method="post" th:action="@{app/}+${app.name}">
							<button type="submit" class="btn btn-primary"
								th:text="${app.displayName == null} ? ${app.name} : ${app.displayName}"></button>
						</form>
					</div>
				</div>
	</div>
			
		</div>


		<div class="row">
			<div id="item-container"
				style="padding-left: 80px; padding-right: 80px;"
				class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-item">
				<div id="Intro-to-apps" class="text-center">Learn More About
					Our Apps</div>
				<a id="tabI1" href="#">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="well tabItemDiv">
							<div class="row">
								<img src="../img/iconboxmarket.jpg" alt="market profiler." />
							</div>
							<div class="row">
								<h3>Market</h3>
								<span>Discover Opportunities<br /> to Gain Market Share
								</span>
							</div>
						</div>
					</div>
				</a> <a id="tabI2" href="#">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
						<div class="well tabItemDiv">
							<div class="row">
								<img src="../img/iconboxprovider.jpg" />
							</div>
							<div class="row">
								<h3>Provider</h3>
								<span>Explore Care Provider Quality <br /> &amp;
									Performance Variation
								</span>
							</div>
						</div>
					</div>
				</a> <a id="tabI3" href="#">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
						<div class="well tabItemDiv">
							<div class="row">
								<img src="../img/iconboxperformance.jpg" />
							</div>
							<div class="row">
								<h3>Performance</h3>
								<span>Understand Causes of Outliers <br /> that Diminish
									Performance
								</span>
							</div>
						</div>
					</div>
				</a> <a id="tabI4" href="#">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
						<div class="well tabItemDiv">
							<div class="row">
								<img src="../img/iconboxpopulation.jpg" />
							</div>
							<div class="row">
								<h3>Population</h3>
								<span>Risk Profile each patient to <br /> Identify
									Specific Care Needs
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="row tab-panel" id="tabP1"
			style="padding-left: 10%; padding-right: 10%; text-align: justify;">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<img src="../img/img-market@2x.png" alt="charts images is here."
					class="img img-responsive" />
			</div>
			<div class="col-md-6">

				<ul>
					<li>Access Key market insights</li>
					<li>Make targeted decisions in strategic Planning</li>
					<li>Identify trends in care</li>
					<li>View market share for high revenue conditions</li>
					<li>Benchmark more effectively</li>
				</ul>

			</div>
		</div>


		<div class="row tab-panel" id="tabP2"
			style="padding-left: 10%; padding-right: 10%; text-align: justify;">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<img src="../img/img-provider@2x.png" alt="charts images is here."
					class="img img-responsive" />
			</div>
			<div class="col-md-6">
				<ul>
					<li>Understand the Patient Journey</li>
					<li>Understand referral Patterns</li>
					<li>View Leakage from your facility</li>
					<li>Discover Opportunities to increase market share</li>
					<li>Identify Providers to invite to your network</li>
				</ul>

			</div>
		</div>


		<div class="row tab-panel" id="tabP3"
			style="padding-left: 10%; padding-right: 10%; text-align: justify;">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<img src="../img/img-performance@2x.png"
					alt="charts images is here." class="img img-responsive" />
			</div>
			<div class="col-md-6">
				<ul>
					<li>Target Workflows &amp; Tackle Risk</li>
					<li>Automate reporting of key workflows flag opportunities</li>
					<li>Empower Hospitalists with the tools to focus care</li>
					<li>Enable operations $ utilization to better manage resources</li>
				</ul>

			</div>
		</div>

		<div class="row tab-panel" id="tabP4"
			style="padding-left: 10%; padding-right: 10%; text-align: justify;">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<img src="../img/img-population@2x.png" alt="charts images is here."
					class="img img-responsive" />
			</div>
			<div class="col-md-6">
				<ul>
					<li>Identify Opportunities Among your Patient Population</li>
					<li>Monitor risk and impactability of your patients</li>
					<li>Find opportunities to reduce cost</li>
					<li>Track MIPS,Quality Measures &amp; Gaps in Care</li>
				</ul>

			</div>
		</div>

		<div class="row"
			style="background-color: #F9FDFE; padding-bottom: 5%;">
			<div style="text-align: center; margin-top: 5%;">
				<h1>Questions? Look Here</h1>
				<h4 style="color: #818181;">
					Can't find an answer? Email us at <a href="mailto:support@proskriptive.com?subject=Support Request">support@proskriptive.com</a>
				</h4>
			</div>
			<div style="margin-left: 15%; margin-right: 15%;">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 questiondiv">
					<div class="">
						<h4>When do the dashboards update?</h4>
						<p>Information shown in your dashboards will indicate a time
							stamp of the last update.Talk to your administrator if there is
							information that you need to view with a different update
							frequency.</p>
						<br />
					</div>
					<div>
						<h4>How do I access different reports?</h4>
						<p>
							Users can access reports based upon roles. If you need to view
							additional insights, contact your adminstrator for access.If you
							have a suggestion for how to improve an existing report, send us
							your idea to <a href="mailto:support@proskriptive.com?subject=Support Request">support@proskriptive.com</a>

						</p>
						<br />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 questiondiv">

					<div>
						<h4>Can I create new users?</h4>
						<p>System Administrators are able to add new users. Contact
							your administrator if you know of someone who needs access.</p>
						<br />
					</div>
					<div>
						<h4>What are the other apps?</h4>
						<p>
							Proskriptive offers a series of Apps that provide actionable
							information to support the multiple needs of healthcare
							organizations. For additional information or to demo these apps,
							contact your System Administrator or email <a href="mailto:info@proskriptive.com?subject=Information Request">info@proskriptive.com</a>.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row" id="footer"
			style="height: 60px; color: #818181; line-height: 60px;">
			<hr />
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div style="margin-left: 15%;">Copyrights &copy; 2017. All
					rights reserved.</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="pull-right" style="margin-right: 15%;">
					<span>Powered by <img src="../img/proskriptivepic.png"
						alt="footer image." height="30" /></span>
				</div>

			</div>
		</div>
	</div>
</body>
</html>