<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
	<title th:text="${title}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link
		href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
		rel="stylesheet" media="screen" />
	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.2/jquery.min.js"
		th:src="@{/webjars/jquery/2.2.2/jquery.min.js}"></script>
 	<link th:href="@{/css/custom.css}" type="text/css" rel="stylesheet" media="screen"></link>		

<script>
$(function(){
	var width=0 , height=0;
	$('.d').css({'opacity':.4});
	$('#selectedimg').css({'opacity':1});
	
});
</script>
<style>
.imgHover
{
margin:40% 10% auto 10%;
text-align:center; 
}
</style>
</head>
<body>
	
<div class = "container-fluid">
  <div class = "row">
	<div class = "col-md-6 col-sm-6 bgImage">
		<div class="row">
				<div class="col-md-12 divImageSpane">
				<span>Access key insights to empower <br/> how you deliver
						care</span>
				</div>
		</div>
    </div>
<div class = "col-md-6 col-sm-6" style="margin-top:40px;">
  <div class = "row">
  <a id = "logout" href="logout" class="pull-right logout"><strong>LOG OUT</strong></a>
  </div>
  <div class="row">
  <div class="imgHover">
  <div class="row PerformanceIcons">
  <div  class="col-md-3 col-sm-6 col-xs-6 d"><img src="../img/icon-box-market@2x.jpg" hspace="10" vspace="20" width='120' height="120" /><p>MARKET</p></div>
  <div class="col-md-3 col-sm-6 col-xs-6 d"><img src="../img/icon-box-provider@2x.jpg" hspace="10" vspace="20" width='120px' height="120px"/><p>PROVIDER</p></div>
  <div class="col-md-3 col-sm-6 col-xs-6 "><a href= "/app/intelligencesuite"><img src="../img/icon-box-performance@2x.jpg" id="selectedimg" hspace="10" vspace="20" width='120px' height="120px"/></a><p class = "active">PERFORMANCE</p></div>
  <div class="col-md-3 col-sm-6 col-xs-6 d"><img src="../img/icon-box-population@2x.jpg" hspace="10" width='120px' vspace="20" height="120px"/><p>POPULATION</p></div>
  </div>
  </div>
  </div>

  	<div class="row footer">
	<div class = "col-md-12">
	<div class = "proskriptive-footer">
    Powered by &nbsp;<img src="../img/proskriptive-image.jpg" alt="proskriptive logo" width="110" />
    </div>
	</div>
    </div>
 </div>
  </div>
</div>
</body>
</html>